@import url('https://fonts.googleapis.com/css2?family=Anek+Kannada:wght@400;700&family=BIZ+UDPGothic:wght@400;700&display=swap');

* {
    font-family: 'Anek Kannada', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #151518;
    color: #ececec;
    font-size: 18px;
}

.container {
    width: 70%;
    margin: auto;
}

header .container {
    text-align: center;
}

header h1 {
    font-family: 'BIZ UDPGothic', sans-serif;
    line-height: 3rem;
    margin-top: 30px;
    margin-bottom: 40px;
}

header p:nth-of-type(1) {
    margin-bottom: 20px;
}
header p:nth-of-type(2) {
    margin-bottom: 10px;
}

form .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

form input {
    font-family: 'BIZ UDPGothic', sans-serif;
    padding: 5px;
    width: 15%;
    border: 2px solid transparent;
    border-radius: 6px;
    background-color: #68686d;
    color: #e4e4e4;
    outline: none;
    cursor: pointer;
    transition: 0.25s;
    min-width: 18%;
}
form input:hover {
    border: 2px solid #929297;
}
form input:focus {
    border: 2px solid #7091ff;
    background-color: #000;
}

form button { 
    margin: auto;
    margin-top: 15px;
    padding: 5px 30px;
    padding-bottom: 1px;
    border-radius:5px;
    border: thin solid transparent;
    background-color: #91abff;
    color: #1f1f1f;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;  
}
form button:hover {
    background-color: #7797ff;
}
form button:active {
    background-color: #668aff;
}

figure .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    padding: 30px;
    margin-bottom: 20px;
    border: 2px solid #a0a0a0;
    background-color: #000000;
}

figure h2 {
    font-family: 'BIZ UDPGothic', sans-serif;
    text-align: center;
}

img {
    max-width: 700px;
    max-height: 700px;
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}

.info-container {
    width: 70%;
    margin: auto;
    background-color: #151518;
    margin-bottom: 10px;
    line-height: 1.6rem;
}

@media(max-width: 1164px) {
    form input {
        min-width: 30%;
    }
    figure .container {
        width: 100%;
    }
    .info-container {
        width: 90%;
    }
}
@media(max-width: 882px) {
    .container{
        width:90%;
    }
    figure .container {
        padding: 15px;
    }
    figure h2{
        font-size: 20px;
    }
    img {
        max-width: 500px;
        max-height: 500px;
        margin-bottom: 0;
    }
    .info-container {
        width: 95%;
    }
}
@media(max-width: 545px) {
    form input {
        min-width: 40%;
    }
    figure .container {
        padding: 10px;
        border: thin solid #a0a0a0;
    }
    figure h2{
        font-size: 18px;
    }
    img {
        max-width: 400px;
        max-height: 400px;
    }
}
@media(max-width: 420px) {
    img {
        max-width: 350px;
        max-height: 350px;
    }
}
@media(max-width: 368px) {
    form input {
        min-width: 50%;
    }
    figure h2{
        font-size: 16px;
    }
    img {
        max-width: 300px;
        max-height: 300px;
    }
}