* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

.container {
    width: 70%;
    margin: auto;
}